<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '300px' }">

    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Menu</span>
    </mat-toolbar>

    @for (item of sidebarItems; track $index) {


      <mat-accordion class="p-3" >
        <mat-expansion-panel>
          <mat-expansion-panel-header >
            <mat-list-item matListItemTitle>

              <mat-panel-title matListItemTitle>
                <mat-icon matListItemIcon> {{ item.icon }} </mat-icon>
                {{ item.label }}
              </mat-panel-title>
            </mat-list-item>
            </mat-expansion-panel-header>

            @for (page of item.pages; track $index) {

              <mat-nav-list>
                <mat-list-item matListItemTitle [routerLink]="page.url">
                  {{ page.name }}
                </mat-list-item>
              </mat-nav-list>
            }

        </mat-expansion-panel>
      </mat-accordion>

    }

  </mat-sidenav>

  <mat-toolbar style="height: 40px;">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>
      <mat-icon>meeting_room</mat-icon>
      Logout
    </button>

  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
